{% extend 'base.html' %}

{% block title %}vue_main.html{% endblock %}

{% block extra-style %}
<style>
        body {
            text-align: center;
            background-color: #ddd;
        }
        .inputBox {
            margin: auto;
            width: 70%;
            background: white;
            height: 50px;
            border-radius: 50px;
            line-height: 50px;
        }
        .inputBox .name {
            border-style: none;
            border-bottom: 1px solid #ddd;
            width: 70px;
            padding-left: 20px;
            line-height: 20px;
        }
        .inputBox .item {
            border-style: none;
            border-bottom: 1px solid #ddd;
            width: 400px;
            margin-left: 50px;
            padding-left: 20px;
            line-height: 20px;
        }
        .todoList {
            list-style: none;
            padding: 10px 0;
            text-align: left;
        }
        .todoList li {
            display: flex;
            height: 50px;
            line-height: 50px;
            margin: 0.5rem 0;
            padding: 0 0.9rem;
            background: white;
            border-radius: 5px;
        }
        .removeBtn {
            margin-left: auto;
            font-size: 20px;
        }

        [v-cloak] {display: none;}
    </style>
{% endblock %}

{% block content %}
<div id='app' v-cloak>

    <h1>My Todo App !</h1>
    <strong>서로 할 일이나 의견을 공유해 봅시다.</strong>
    <br>

    <div class="inputBox">
        <input class="name" type="text" placeholder="name ..." v-model.trim="name">
        <input class="item" type="text" placeholder="type anything welcomed ..."
            v-model.trim="newTodoItem" v-on:keyup.enter="add_todo">
        <button v-on:click="add_todo" class="btn btn-primary btn-sm">ADD</button>
    </div>

    <ul class="todoList">
        <li v-for="(todoItem, index) in todoItems">
            <span>{todoItem.name}::: {todoItem.item}</span>
            <span class="removeBtn" v-on:click.stop="remove_todo(todoItem, index)">&#x00D7</span>
        </li>
    </ul>

</div>
{% endblock %}

{% block extra-script %}
<script src='https://unpkg.com/vue/dist/vue.min.js'></script>
<script>
    var vm = new Vue({
        delimiters: ['{', '}'],
        el: '#app',
        data: {
            name: '',
            newTodoItem: '',
            todoItems: [
                {name: 'a', item: 'aaa'},
                {name: 'b', item: 'bbb'},
                {name: 'c', item: 'ccc'},
                {name: 'd', item: 'ddd'},
            ],
        },
        methods: {
            add_todo: function() {
                console.log('name:', this.name, this.newTodoItem);
                if (this.newTodoItem == '') return;
                if (this.name == '') this.name = 'no name';

                this.todoItems.push({'name':this.name, 'item':this.newTodoItem});
                this.clear_input();
            },
            remove_todo: function(todoItem, index) {
                console.log(todoItem);
                this.todoItems.splice(index, 1);
            },
            clear_input: function() {
                this.name = '';
                this.newTodoItem = '';
            },
        },
    })
</script>
{% endblock %}
